*{
  margin: 0;
  padding: 0;
}

.pageContainer{
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  background-color:hsla(261,0%,13%,1);
  background-image:
  radial-gradient(at 0% 98%, hsla(349,0%,13%,1) 0px, transparent 50%),
  radial-gradient(at 50% 0%, hsla(266,93%,56%,0.76) 0px, transparent 50%);
  color: rgb(246, 246, 246);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}

.pageContainerChild{
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;

  width: 35%;
  min-width: 300px;
}

.fileContainer{
  width: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;

  border: solid;
  border-radius: 10px;
  background: rgba(48, 47, 47, 0.36);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
